li {
  width: 90%;
  list-style-type: none;
  margin-bottom: 5px;
  span {
    background-color: rgb(207, 205, 205);
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
  }
  .width0 {
    width: 5%;
  }
  .width1 {
    width: 10%;
  }
  .width2 {
    width: 15%;
  }
}